autostart/
Android Open Source Project/
discord/
discordcanary/
yay/
yarn/
systemd/
picom/
opera/
nitrogen/
neofetch/
nautilus/
Insomnia/
gtk-3.0/
goa-1.0
Google/
google-chrome/
evolution/
epiphany/
QtProject.conf
spotify/
starship.toml
user-dirs.dirs
nvim/
.gsd-keyboard.settings-ported
dleyna-renderer-service.conf
mimeapps.list
selected
user-dirs.locale
flameshot/
flutter/
htop/
